@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
}


@layer components {
  .active {
    width: 300px !important;
  }
}

select:required:invalid {
  color: gray;
}